{{- if .Values.enabled }}
apiVersion: polyfea.github.io/v1alpha1
kind: WebComponent
metadata:
  name: polyfea-md-shell
  labels:
    {{- include "polyfea-md-shell-samples.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "10"
spec:
  microFrontend: polyfea-md-shell
  element: polyfea-md-shell
  attributes: 
    - name: application-headline
      value: {{ .Values.mdShell.applicationHeadline | quote }}
  displayRules:
    - anyOf:
      - context-name: shell
---
apiVersion: polyfea.github.io/v1alpha1
kind: WebComponent
metadata:
  name: applications
  labels:
    {{- include "polyfea-md-shell-samples.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "10"
spec:
  microFrontend: polyfea-md-shell
  element: polyfea-md-apps
  attributes: 
    - name: applications-context
      value: applications
  displayRules:
    - allOf:
      - context-name: main-content
      - path: "^(\\.?/)?$"
---
apiVersion: polyfea.github.io/v1alpha1
kind: WebComponent
metadata:
  name: home-fea
  labels:
    {{- include "polyfea-md-shell-samples.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "10"
spec:
  microFrontend: polyfea-md-shell
  element: polyfea-md-app
  attributes: 
    - name: headline
      value: Home page
    - name: short-headline
      value: Home
    - name: supporting-text
      value: Go to landing page of the Polyfea Shell Application.
    - name: material-icon
      value: home
    - name: href
      value: ./
  priority: 100
  displayRules:
    - anyOf:
      - context-name: rail-content
      - context-name: drawer-content
      - context-name: navigation-content
{{- if .Values.samples.earthSample }}
---
apiVersion: polyfea.github.io/v1alpha1
kind: WebComponent
metadata:
  name: earth-fea-link
  labels:
    {{- include "polyfea-md-shell-samples.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "10"
spec:
  microFrontend: polyfea-md-shell
  element: polyfea-md-app
  attributes: 
    - name: headline
      value: Blue Marble 2012
    - name: short-headline
      value: Marble
    - name: supporting-text
      value: |
        A 'Blue Marble' image of the Earth taken from the VIIRS instrument 
        aboard NASA's Earth-observing satellite - Suomi NPP. Credit: NASA/NOAA/GSFC/Suomi NPP/VIIRS/Norman Kuring
    - name: material-icon
      value: public
    - name: href
      value: ./blue-marble
    - name: tile-img-src
      value: https://live.staticflickr.com/695/31258502484_ebc602077a_w.jpg
  priority: 10
  displayRules:
    - anyOf:
      - context-name: applications
      - context-name: rail-content
      - context-name: drawer-content
---
apiVersion: polyfea.github.io/v1alpha1
kind: WebComponent
metadata:
  name: earth-fea-content
  labels:
    {{- include "polyfea-md-shell-samples.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "10"
spec:
  microFrontend: polyfea-md-shell
  element: img
  attributes: 
    - name: src
      value: https://live.staticflickr.com/695/31258502484_683c3d1344_6k.jpg
    - name: alt
      value: Blue Marble 2012
  displayRules:
    - allOf:
      - context-name: main-content
      - path: "^(\\.?/)?blue-marble(/.*)?$"
{{- end }}
{{- end }}
