name: Release Charts

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: Run chart-releaser for controller
        uses: helm/chart-releaser-action@v1.7.0
        with:
          skip_existing: true
          charts_dir: charts/polyfea-controller
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Run chart-releaser for md-shell-samples
        uses: helm/chart-releaser-action@v1.7.0
        with:
          skip_existing: true
          charts_dir: charts/polyfea-md-shell-samples
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
